@import "tailwindcss";

:root {
  --background: #f0f0f0;
  --foreground: #171717;
  --primary: #f0d28b;
  --secondary: #333337;

  /* Primary shades */
  --primary-100: hsl(42, 77%, 90%);
  --primary-200: hsl(42, 77%, 85%);
  --primary-300: hsl(42, 77%, 80%);
  --primary-400: hsl(42, 77%, 84%);
  --primary-500: hsl(42, 77%, 74%); /* base */
  --primary-600: hsl(42, 77%, 64%);
  --primary-700: hsl(42, 77%, 54%);
  --primary-800: hsl(42, 77%, 44%);

  /* Secondary shades */
  --secondary-100: hsl(240, 2%, 90%);
  --secondary-200: hsl(240, 2%, 75%);
  --secondary-300: hsl(240, 2%, 60%);
  --secondary-400: hsl(240, 2%, 45%);
  --secondary-500: hsl(240, 2%, 30%); /* base */
  --secondary-600: hsl(240, 2%, 20%);
  --secondary-700: hsl(240, 2%, 10%);
  --secondary-800: hsl(240, 2%, 5%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);

  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-quintessential-serif);
  --font-serif: var(--font-sansation-serif);
  --font-sans: var(--font-roboto-sans);
  --font-sans: var(--font-fugaz-one-sans);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* @media (min-width: 769px) {
svg.logo-xl{
  max-width: 5em !important;
}


} */

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: Sansation, Arial, Helvetica, sans-serif !important;
}

body.modal-open {
  position: fixed !important;
  width: 100%;
}

/* svg.logo-lg{
  max-width: 3em;
}

svg.logo-xl{
  max-width: 3em;
}
svg.logo-xxl{
  max-width: 6em;
}  */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "righteous", Arial, Helvetica, sans-serif !important;
}

/* svg{
    width: 100%;
  height: auto;
  max-width: 2em; /* optional */

ul.arrow {
  list-style-image: url("/arrow.svg");
}
input:-webkit-autofill {
  background-color: black !important;
  color: white !important;
}

.custom-scroll-bar::-webkit-scrollbar {
  width: 2px;
}

/* Track */
.custom-scroll-bar::-webkit-scrollbar-track {
  background: #5e5e5e;
}

/* Handle */
.custom-scroll-bar::-webkit-scrollbar-thumb {
  background: #929292;
}

/* Handle on hover */
.custom-scroll-bar::-webkit-scrollbar-thumb:hover {
  background: #a5a5a5;
}
